.body{
  background-color: #F6F5F5;
  /* background-image: url('https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;  */
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(5, 119, 123);
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav>ul{
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
  margin: 10px;
  position: static;
}
@media (max-width: 577px)  {
  nav>ul{
    font-size: 12px;
  }
 
}

@media (min-width: 577px){
  p:nth-child(1){
      font-size: 32px;
      margin: 10px;
      padding: 0px 10px ;  
      letter-spacing: 1px;
      font-weight: 400;
      color: #87A922;
  }
  p:nth-child(2){
    font-size: 18px;
    margin: 10px;
    padding: 10px;  
    letter-spacing: 1px;
} 
}
@media (max-width: 578px){
  .description>p:nth-child(1){
    font-size: 14px;
    margin: 10px 10px 2px 10px;
    font-weight: 400;
    color: #87A922;
    padding: 0px 10px ;  
    letter-spacing: 1px;


}
.description>p:nth-child(2){
  font-size: 10px;
  margin: 0px 10px;
  padding: 0px 10px;  
  letter-spacing: 1px;
}



}

.header-btn>li{
  padding: 0px;
  margin: 0px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #ff920c;
  border-radius: 5px;
  transition:transform 0.0s ease;
  text-align: center;
}

.header-btn>li:hover{
  background-color: #87A922; 
  transform: scale(1.02);
}

a.link1{
  text-decoration: none;
  color: rgb(255, 255, 255); 
  margin: 5px;
  padding: 0px 5px;
}

.home-footer{
  background-color: rgb(5, 119, 123);
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
}
footer{
  background-color: rgb(5, 119, 123);
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.home-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.l-home{
  background-image: url('https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHdoaXRlJTIwJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.r-home{
  background-image: url('https://images.pexels.com/photos/4691104/pexels-photo-4691104.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border: black 2px solid;
}

.video1{
  background-image: url('https://pixabay.com/videos/clouds-cloudscape-sky-air-1154/');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}




.card {
  width: 150px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(5, 5, 5);
  padding: 10px;
  transition: transform 0.2s ease;
}

.card:hover{
  transform: scale(1.08);
}

.card-image {
  width: 100%;
  object-fit: cover; 
}

.card-title {
  margin: 10px 0 10px;
  font-size: 1.5rem;
}



.app1 {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 777px) {
  .app1 {
    grid-template-columns: repeat(2, 1fr); /* Adjusting to a single column layout for mobile */
    justify-content: center; /* Centering items for better mobile readability */
    padding: 0 10px; /* Adding some padding to the sides for better spacing */
    grid-gap: 10px;
  }
  .card {
    margin: 0px;
    border: 0px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 5px;
  }
}

.card>img{
    width: 100%; /* Ensures images fill their containers */
    height: auto; /* Maintains aspect ratio of images */
    display: block; /* Ensures proper spacing and alignment */
}





/* ***************************************Login Page Styles************************************** */

form{
  width: 350px;
  height: 50vh;
  box-shadow: 0 0 20px rgb(0, 109, 128);
}
@media (max-width: 578px){
  form{
    width: 250px;
    height: 50vh;
    box-shadow: 0 0 20px rgb(0, 109, 128);
  }
  .log-in{
    margin: 2px 0px;
  }
}

form>h2{
  box-shadow: 0 0 10px #bff02a;
  background-color: #eeeb32;
  padding: 5px 10px;
  border-radius: 5px;  
}

.log-in>a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}



.log-in{
  margin: 10px 0px;
}

.log-in>input{
  border: none;
  border-bottom: 2px solid silver;
}

input:focus {
  outline: none; /* Remove the default focus outline */
  /* border: none; Remove the border */
}

input:focus::-webkit-input-placeholder { /* WebKit browsers */
  color: transparent;
}






